@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');

body {
    font-family: 'Noto Serif SC', serif;
    background-color: white;
    margin: 0;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  z-index: 1;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

img {
    height: 240px;
    width: 320px;
}

.container {
    height: 280px;
    width: 320px;
    position: relative;
    display: inline-block;
    text-align: center;
}

h4 {
    position: absolute;
    bottom: 18px;
    left: 0px;
    background-color: #55b3db;
    opacity: .9;
    width: 320px;
    height: 40px;
    color: white;
}

h1 {
    margin-top: 60px; 
    margin-left: 50px;
}

section {
    margin-left: 50px;
}

footer {
    background-color: #333333;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: right;
}